<h4 class="col-4 text-left">Transaction list:</h4>
<br>
<div class="col-4 text-left">
  <button routerLink="/players" class="btn btn-outline-danger" name="button">Return to player list</button>
</div>
<div class="row m-5">
  <div class="col text-center">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Transaction ID</th>
          <th>Player ID</th>
          <th>Type</th>
          <th>Transaction father ID</th>
          <th>Date</th>
          <th>Amount</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let transaction of transactionList">
          <td *ngIf="transaction.transactionId != null; else idTrans">{{transaction.transactionId}}</td>
          <td *ngIf="transaction.playerId == id_route; else idPlayer">{{transaction.playerId}}</td>

          <td [ngSwitch]="transaction.transactionType">
            <span *ngSwitchCase="0">Authorize</span>
            <span *ngSwitchCase="1">Capture</span>
            <span *ngSwitchCase="2">Bet</span>
            <span *ngSwitchCase="3">Win</span>
            <span *ngSwitchCase="4">Deposit</span>
            <span *ngSwitchCase="5">Withdraw</span>
            <span *ngSwitchDefault>Unknown</span>
          </td>

          <td *ngIf="transaction.parentTransaction != null; else transactionPlayer">{{transaction.parentTransaction}}</td>
          <td *ngIf="transaction.transactionDateUTC != null; else date">{{transaction.transactionDateUTC | date:'long'}}</td>
          <td *ngIf="transaction.amount != null; else amount">{{transaction.amount}}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

<ng-template #idPlayer><td>{{id_route}}</td></ng-template>
<ng-template #idTrans><td>-</td></ng-template>
<ng-template #transactionPlayer><td>-</td></ng-template>
<ng-template #date><td>-</td></ng-template>
<ng-template #amount><td>-</td></ng-template>
